body {
    margin: 0;
}
.bar-menu {
    background-color: #24292e;
    height: 60px;
}


.main-container {
    display: flex;
    padding: 20px, 80px;

}
.user-avatar{
    border-color: grey;
    border-width: 2px;
    border-style: solid;
}